<html>

<head>
  <title>
    TopStories
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <ul>
      <li class="logo">Storypedia</li>
      <li class="Navbar"><a href="/">Home</a></li>
      <li class="Navbar"><a class="active" href="/TopStories">Top Stories</a></li>
      <li class="Navbar"><a href="/NewStories">New Stories</a></li>
      <li class="Navbar"><a href="/BestStories">Best Stories</a></li>
    </ul>

  </header>

  <main id="main">

  </main>
  <script src="/javascripts/topstory.js"></script>
</body>

</html>